.main-section {
  background-image: url('../../../public/images/bravery-bg.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;

  justify-content: center;
}
