$layout-breakpoint-mobile: 480px;
$layout-breakpoint-tablets: 768px;
$layout-breakpoint-laptop: 1024px;
.login-container {
  background-color: wheat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .menu-link {
    font-size: 1.1rem;
    font-weight: 500;
    color: #ff6a00;
    text-decoration: none;
    margin-right: 1rem;
    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.125em;
    }
  }
  .card-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .text-info {
      @media (max-width: $layout-breakpoint-tablets) {
        display: none;
      }
      h1 {
        font-size: 4rem;
        font-weight: 700;
        color: black;
      }
      p {
        font-size: 1.5rem;
        color: black;
        a {
          color: #ff6a00;
        }
      }
    }
    .login-card {
      position: relative;
      margin: 1rem auto;
      min-width: 30rem;
      height: auto;
      min-height: 100%;
      cursor: pointer;
      transition: 0.4s;
      font-size: large;
      border: 0;
      border-radius: 15px;
      background: white;
      --bs-card-cap-bg: rgb(0, 0, 0, 0);

      @media (max-width: $layout-breakpoint-tablets) {
        min-width: 100%;
      }

      &:hover {
        transform: scale(1.03, 1.03);
        box-sizing: border-box;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
      }
      .login-btn {
        width: 100%;
        border: 0;
        font-size: large;
        background-color: rgb(255, 100, 0);
        &:hover {
          background-color: rgb(255, 100, 0, 0.8);
        }
      }
    }
  }
}
