/* change the colors */
// $primary: #ffe9c0 !important;
// $secondary: #ff6a00 !important;
// $success: #198754 !important;
// $info: #0dcaf0 !important;
// $warning: #ffc107 !important;
// $danger: #dc3545 !important;
// $light: #f8f9fa !important;
// $dark: #212529 !important;

$primary: rgb(255, 233, 192);
$secondary: rgb(255, 106, 0);
$success: rgb(25, 135, 84);
$info: rgb(13, 202, 240);
$warning: rgb(255, 193, 7);
$danger: rgb(220, 53, 69);
$light: rgb(248, 249, 250);
$dark: rgb(33, 37, 41);
